<html>
    <head>
        <style>
            {{#each css}}
                <link rel="stylesheet" href="/stylesheets/{{this}}">
            {{/each}}
        </style>
    </head>
    <body >
        <p>Hi {{name}},</p>
        <p>We recently received a request to recover the account {{email}}.</p>
        <p>Please, click the link below to reset your password: </p>
        <a href="https://{{link}}">Reset Password</a>
        <p>If it was not you that requested the password, please ignore this email</p>
    </body>
</html>